node_modules
.next
out
dist
build
.env
.env.local
.env.*.local
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.vercel
.turbo
coverage
.cache
docs
out-tsc
*.tsbuildinfo

# foundry
contracts/lib
contracts/out
contracts/cache
contracts/broadcast

